<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koziengineering.docta.pcone">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ceni"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.koziengineering.user.franvanna.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.koziengineering.user.franvanna.ActivityAbout"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.koziengineering.user.franvanna.ActivityCandidatesList"
            android:parentActivityName="com.koziengineering.user.franvanna.ActivityMainMenu" />
        <activity
            android:name="com.koziengineering.user.franvanna.ActivityVoteSimulation"
            android:parentActivityName="com.koziengineering.user.franvanna.ActivityMainMenu" />
        <activity
            android:name="com.koziengineering.user.franvanna.ActivityLoisElec"
            android:label="@string/title_activity_lois_elec"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.koziengineering.user.franvanna.ActivityListElectorral" />
        <activity android:name="com.koziengineering.user.franvanna.ActivityOfficialResults" />
        <activity android:name="com.koziengineering.user.franvanna.ActivityIntroVid" />
        <activity android:name="com.koziengineering.user.franvanna.ActivityDataDisplay" />
        <activity
            android:name="com.koziengineering.user.franvanna.ActivityLogo"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.koziengineering.user.franvanna.ActivityBureauVote" />
        <activity android:name="com.koziengineering.user.franvanna.ActivityNews" />
        <activity android:name="com.koziengineering.user.franvanna.ActivityMainMenu" />
        <activity
            android:name="com.koziengineering.user.franvanna.ActivityVotes"
            android:parentActivityName="com.koziengineering.user.franvanna.ActivityVoteSimulation" />
        <activity android:name="com.koziengineering.user.franvanna.ActivityFAQ" />
        <activity android:name="com.koziengineering.user.franvanna.ActivityFAQQA" />
        <activity
            android:name="com.koziengineering.user.franvanna.ActivityPrintVoteResult"
            android:parentActivityName="com.koziengineering.user.franvanna.ActivityVotes" />
        <activity
            android:name="com.koziengineering.user.franvanna.ActivityContactUs"
            android:parentActivityName="com.koziengineering.user.franvanna.ActivityMainMenu" />
        <activity android:name="com.koziengineering.user.franvanna.ActivityNewsWebView" />
        <activity android:name="com.koziengineering.user.franvanna.ActivityCandsListType" />
        <activity android:name="com.koziengineering.user.franvanna.ActivityPresident" />
        <activity android:name="com.koziengineering.user.franvanna.ActivityBigImageView"></activity>
    </application>

</manifest>